<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Diary Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <a class="btn btn-primary" href="#" routerLink="/diary/new">New diary entry</a>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngFor="let diary of diaries">
        <div class="post-preview">
          <a href="#" routerLink="/diary/{{diary.id}}">
            <h2 class="post-title">{{diary.title}}</h2>
            <h3 class="post-subtitle">{{diary.content.split('.')[0]}}</h3>
          </a>
          <p class="post-meta">
            Posted by
            <a >{{diary.author}}</a>
            <!-- on September 24, 2021 -->
            on {{diary.created_at}}
          </p>
          <a class="btn btn-warning" href="#" routerLink="/diary/{{diary.id}}/edit">Edit</a>
        </div>
        <hr />
      </div>
      <!-- <div class="clearfix"><a class="btn btn-primary float-right" href="#!">Older Posts →</a></div> -->
    </div>
  </div>
</div>
<hr>
