<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h1>Diary</h1>
                  <span class="subheading">A Blog Assignment</span>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container">
  <h1> 10 Entries between 12-06-2017 and 05-01-2018 </h1>
</div>
